<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="keypad-API-Guide">
 <bookinfo>
  <title>DB5500 Keypad</title>

  <authorgroup>
   <author>
    <firstname>NaveenKumar</firstname>
    <surname>Gaddipati</surname>
    <affiliation>
     <address>
      <email>naveen.gaddipati@stericsson.com</email>
     </address>
    </affiliation>
   </author>
   </authorgroup>

  <copyright>
   <year>2010</year>
   <holder>ST-Ericsson</holder>
  </copyright>

  <subjectset>
    <subject>
      <subjectterm>Linux standard functions</subjectterm>
    </subject>
  </subjectset>

  <legalnotice>
   <para>
     License terms: GNU General Public License (GPL) version 2.
   </para>

   </legalnotice>
 </bookinfo>

<toc></toc>

  <chapter id="intro">
    <title>Introduction</title>
    <para>
	This documentation describes the API provided by the keypad
	driver for internal keypad.
    </para>
    </chapter>

  <chapter id="bugs">
     <title>Known Bugs And Assumptions</title>
  <para>
     <variablelist>
     <varlistentry>
       <term>None</term>
       <listitem>
         <para>
		None.
           </para>
       </listitem>
     </varlistentry>
     </variablelist>
  </para>
  </chapter>

  <chapter id="pubfunctions">
     <title>Public Functions Provided</title>
     <para>
	This db5500-keypad driver doesn't export any functions.
     </para>
  </chapter>

  <chapter id="structs">
     <title>Structures</title>
     <para>
     This chapter contains the autogenerated documentation of the
     structures which are used in the keypad driver.
     </para>
!Iarch/arm/mach-ux500/include/mach/db5500-keypad.h
  </chapter>

  <chapter id="intfunctions">
     <title>Internal Functions Provided</title>
     <para>
     This chapter contains the autogenerated documentation of the
     internal functions.
     </para>
!Idrivers/input/keyboard/db5500_keypad.c
  </chapter>

  </book>
