<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="I2S">
 <bookinfo>
  <title>I2S</title>

  <authorgroup>
   <author>
    <firstname>Sandeep</firstname>
    <surname>Kaushik</surname>
    <affiliation>
     <address>
      <email>sandeep.kaushik@st.com</email>
     </address>
    </affiliation>
   </author>
   </authorgroup>

  <copyright>
   <year>2008-2009</year>
   <holder>STMicroelectronics Pvt Ltd</holder>
  </copyright>

  <subjectset>
    <subject>
      <subjectterm>Linux standard functions</subjectterm>
    </subject>
  </subjectset>

  <legalnotice>
   <!-- Do NOT remove the legal notice below -->

  <para>
     This documentation is free software; you can redistribute
     it and/or modify it under the terms of the GNU General Public
     License as published by the Free Software Foundation; either
     version 2 of the License, or (at your option) any later
     version.
   </para>

   <para>
     This program is distributed in the hope that it will be
     useful, but WITHOUT ANY WARRANTY; without even the implied
     warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
     See the GNU General Public License for more details.
   </para>

   <para>
     You should have received a copy of the GNU General Public
     License along with this program; if not, write to the Free
     Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
     MA 02111-1307 USA
   </para>

   <para>
     For more details see the file COPYING in the source
     distribution of Linux.
   </para>
  </legalnotice>
 </bookinfo>

<toc></toc>
  <chapter id="intro">
    <title>Introduction</title>
    <para>
	This Documentation describes the APIs provided by the I2S Bus Driver. I2S bus supports different
	protocols like I2S, PCM, SPI etc.
    </para>
  </chapter>

  <chapter id="bugs">
     <title>Known Bugs And Assumptions</title>
  <para>
     <variablelist>
     <varlistentry>
       <term>None</term>
       <listitem>
         <para>
		None.
           </para>
       </listitem>
     </varlistentry>
     </variablelist>
  </para>
  </chapter>

  <chapter id="pubfunctions">
    <title>Public Functions Provided</title>
	<para>
	This Section lists the functions exported by the I2S bus driver. These functions cater to all the protocols
	supported namely: I2S, PCM, SPI.
	</para>
!Edrivers/misc/i2s/i2s.c
  </chapter>
</book>
